
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$siberian-gates-primary: mat-palette($mat-indigo);
$siberian-gates-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$siberian-gates-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$siberian-gates-theme: mat-light-theme($siberian-gates-primary, $siberian-gates-accent, $siberian-gates-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($siberian-gates-theme);

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sg-dark-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

$sg-light-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

@include angular-material-theme($sg-light-theme);

.dark-theme{
  @include angular-material-theme($sg-dark-theme);
}

.mat-drawer-backdrop{
  background-color: rgba(0,0,0,.6) !important;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

mat-checkbox{
  margin-bottom: 1em;
}

#sg-table-container{
  flex-grow: 1;
}

.sg-grid-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-spacer{
  flex-grow: 10000;
}

mat-divider{
  border-top-width: 2px !important;
}
.sg-table {
  margin: 2em;
  width: calc(100% - 4em);
  background: transparent !important;
}

.sg-table-compact {
  margin: 1em;
  width: calc(100% - 2em);
}
.mat-dialog-container .dark-theme{

}

.mat-dialog-container {
  padding: 0 !important;
  background: map-get($mat-dark-theme-background, background) !important;
}
.mat-cell, .mat-footer-cell, .mat-header-cell{
  border-bottom-width: 2px !important;
}

.sg-table-action-button-container{
  width: 130px;
}

.sg-table-action-button-container-compact{
  width: 10px;
}

.sg-table-info-button{
  transform: rotate(180deg);
}
.sg-card-table{
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.sg-table-checkbox{
  width: 48px;
  padding-top: 2px;
}
.sg-grid-filter-drawer{
  margin-right: 2em;
  margin-left: 2em;

  height: 0;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  z-index: -2;
  transition: height ease-in-out 1s;
}

.sg-grid-filter-drawer-active{

  height: 120px;
}
.sg-appbar > header{
  display: flex;
  align-items: center;
}

.sg-vertical-radio-group{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-right: 0;
  margin-left: -5px;
  margin-bottom: 16px;
}

.sg-vertical-radio-button {
  margin: 5px;
}

.sg-drawer-userbar-name{
  padding: 0;
}

.sg-search-drawer{
  display: flex;
  background: map-get($mat-dark-theme-background, card)
}
.sg-search-drawer-ruleset{
  display: flex;
  flex-direction: column;

  margin: 1em;
  padding: 0.5em;
}
