// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$siberian-gates-primary: mat-palette($mat-indigo);
$siberian-gates-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$siberian-gates-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$siberian-gates-theme: mat-light-theme($siberian-gates-primary, $siberian-gates-accent, $siberian-gates-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($siberian-gates-theme);

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sg-dark-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

$sg-light-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@import '~material-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import "ngx-charts-dark-theme";

body {
  margin: 0;
  width: 100vw;
  min-width: 800px;
  height: 100vh;
}

a{
  text-decoration: underline mat-color($candy-app-accent);
  color: mat-color($candy-app-accent);
  cursor: pointer;
}

@include angular-material-theme($sg-light-theme);

.dark-theme {
  @include angular-material-theme($sg-dark-theme);
}

.mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, .6) !important;
}

.mat-tab-group{
  flex-grow: 1;
}
.mat-tab-body-wrapper{
  flex-grow: 1;
}
.mat-tab-body-content{
  overflow: hidden !important;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-checkbox {
  margin-bottom: 1em;
}

.sg-grid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-spacer {
  flex-grow: 10000;
}

mat-divider {
  border-top-width: 2px !important;
}

.sg-table {
  padding: 1.5em;
  width: 100%;
  background: transparent !important;
}

.sg-table-compact {
  margin: 1em;
  width: calc(100% - 2em);
}

.mat-dialog-container .dark-theme {

}

.mat-dialog-container {
  padding: 0 !important;
  @extend .mat-app-background;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
  border-bottom-width: 2px !important;
}

.sg-table-action-button-container {
  width: 130px;
}

.sg-table-action-button-container-compact {
  width: 10px;
}

.sg-table-info-button {
  transform: rotate(180deg);
}

.sg-card-table {
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding: 0.5em;
}

.sg-table-checkbox {
  width: 48px;
  padding-top: 2px;
}

.sg-grid-filter-drawer {
  margin-right: 2em;
  margin-left: 2em;

  height: 0;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  z-index: -2;
  transition: height ease-in-out 1s;
}

.sg-grid-filter-drawer-active {
  height: 120px;
}

.sg-appbar > header {
  display: flex;
  align-items: center;
}

.sg-vertical-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-right: 0;
  margin-left: -5px;
  margin-bottom: 16px;
}

.sg-vertical-radio-button {
  margin: 5px;
}

.sg-drawer-userbar-name {
  padding: 0;
}

.sg-search-drawer {
  @extend .mat-card;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.sg-search-drawer-active {
  display: flex;
}

.sg-table-container {
  position: relative;
  overflow: visible;
  height: calc(100% - 4.6em);
}

.sg-search-drawer-ruleset {
  display: flex;
  flex-direction: column;

  margin: 1em;
  padding: 0.5em;
}

.sg-many-many-card {
  flex-direction: column;
}

.sg-many-many-card-searchbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.sg-treetable-selection{
  background: transparent;
}

.dark-theme th .db-tree-view {
  color: rgba(255, 255, 255, 0.7) !important;
}

th .mat-header-cell .db-tree-view {
  color: rgba(0, 0, 0, 0.54) !important;
}

.fa-caret-down:after {
  property: "#";
}
.db-tree-view {
  margin: 2em;
  width: calc(100% - 4em) !important;
  color: inherit !important;

  border: none !important;
  thead{
    tr{
      background: transparent;
      th{
        border-top-style: none !important;
        border-right-style: none !important;
        border-left-style: none !important;
        @extend .mat-header-cell;
        padding: inherit !important;
        text-align: left;
        font-weight: 500 !important;
        font-size: 12px !important;
        height: 48px;
        border-bottom-width: 2px !important;
      }
    }
  }
  tbody{
    tr{
      border: none;
      td{
        @extend .mat-cell;
        height: 48px;
        padding: inherit !important;
        border-top-style: none !important;
        border-right-style: none !important;
        border-left-style: none !important;
        border-bottom-width: 2px !important;
      }
    }
  }

}

#sg-about-container{
  display: flex; flex-direction: column; align-items: center;
  padding-top: 2em;
  flex-grow: 1;
background: url("assets/LoginBackgroundDark.png") center;
  background-size: cover;
}
