@import '~@angular/material/theming';

#left-section {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 1rem;
}

#right-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#sg-editor-card-container {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  margin: 1.5em 1.5em 2px 1.5em;
}

#sg-editor-icon {
  margin-right: 0.5rem;
}

.sg-many-many-card {
  flex-grow: 1;
}
.sg-many-many-card-searchbar {
  display: flex;

  margin-left: 0.5rem;
  flex-direction: row;
  align-items: stretch;
}
